@{
    IList<string> texts = Model.Texts;
    IList<string> images = Model.Images;
}
<div class="row bg-product-items-r justify-content-start mt-5 p-4 flex-row-reverse w-100 templateTop">

    <div class="col-lg-3 p-5 d-flex flex-column align-items-center">
        <h2 class="mb-4 text-block">@texts[0]</h2>
        <div class="image-container position-relative mb-4">
            <img class="w-h-140px image-block" src="@images[0]" alt="">
        </div>
        <h4 class="text-block pre-wrap">@texts[1]</h4>
    </div>

    <div class="col-lg-1 d-flex flex-column align-items-center justify-content-center">
        <div class="prev-article-link d-flex flex-column align-items-center justify-content-center clicktemplateF cursor-pointer">
            <div class="prev-article-icon"></div>
            <div class="pt-2">
                <h5 class="product-expand-text text-center">點選我查看詳細功能介紹</h5>
            </div>
        </div>
    </div>

    <div class="col-lg-8 showtemplateF d-none ">
        <div class="row flex-row-reverse d-flex justify-content-between">
           
            <div class="col-lg-4 pt-3 d-flex flex-column align-items-center mx-2 px-0 ps-4">
                <div class="image-container position-relative mb-4">
                    <img class="w-h-140px image-block" src="@images[1]" alt="">
                </div>
                <h2 class="mb-4 text-block">@texts[2]</h2>
                <h4 class="text-block pre-wrap">@texts[3]</h4>
            </div>

            <div class="col-lg-4 pt-3 d-flex flex-column align-items-center mx-2 px-0 ps-4">
                <div class="image-container position-relative mb-4">
                    <img class="w-h-140px image-block" src="@images[2]" alt="">
                </div>
                <h2 class="mb-4 text-block">@texts[4]</h2>
                <h4 class="text-block pre-wrap">@texts[5]</h4>
            </div>

            <div class="col-lg-2 pt-2 d-flex flex-column align-items-center justify-content-center mx-2 px-0">
                <div class="d-flex flex-column align-items-center justify-content-center hide-showtemplateF-div next-article-link cursor-pointer">
                    <div class="next-article-icon"></div>
                    <div class="pt-2">
                        <h5 class="product-expand-text text-center">收起</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/js/shared/template/templateArea.js" asp-append-version="true" asp-add-nonce></script>
<script src="~/js/shared/template/template-f.js" asp-append-version="true" asp-add-nonce></script>